html[data-theme='dark'] {
	--color-primary: #00a3ff;
	--color-primary-100: #aae0ff;
	--color-primary-200: #7fd1ff;
	--color-primary-300: #55c1ff;
	--color-primary-400: #2ab2ff;
	--color-primary-500: #00a3ff;
	--color-primary-600: #0087d4;
	--color-primary-700: #006caa;
	--color-primary-800: #00517f;
	--color-primary-900: #003655;
	--color-primary-1000: #001b2a;

	--color-default-text: #ffffff;
	--color-default-text-strong: #dedede;

	--color-section-background: #121721;
	--color-background: #12111a;
	--color-background-light: #20232d;
}
